---
title: Home
layout: "base.njk"
---

<center>
    <h1>Samet</h1>
    <strong>19 yasindayim. 21 yildir yazilimla ugrasiyorum.<br>
            Burada garip seyler paylasacagim muhtemelen. Oyle iste.
        </strong>
        <br>
            <div id="links">
                <a href="https://github.com/samatbk">Github</a>
                <a href="mailto:samatabk@duck.com">Mail</a>
                <a href="https://discord.com/users/1250752829715386401">Discord</a>
                <div></center>