<nav>
    <strong>
        <a href="http://github.com/samatbk">@samatbk</a>
    </strong>
    <div>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="https://youtu.be/dQw4w9WgXcQ">/dev/null</a>
    </div>
</nav>
<hr>